/* ==========================================================================
   Jason's custom styles
   ========================================================================== */

body {
    overflow: hidden;
}

.sub-title {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    top: 80%;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: none;
}
