body {
    overflow: hidden;
    background: #000;
}

.sub-title {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;
    top: 80%;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: none;
}

/* Hide Big video so we can fade it in when the page is loaded */
#big-video-wrap {
    display: none;
}

/* Hide ugly big video text when video doesn't load */
.vjs-control-text, .vjs-error-display {
    display: none;
}
